:root {
    --green-500: hsl(90, 62%, 25%);
    --green-400: hsl(80, 100%, 30%);
    --green-300: hsl(105, 100%, 40%);
  
    --text-color: hsl(0, 0%, 95%); 
  
    --bg-color: hsl(0, 0%, 14%);
  
    --font-family:Verdana, ui-sans-serif, sans-serif; 
  }
  
 body {
   font-family: var(--font-family);
   background-color: var(--bg-color);
   margin-left: 5%;
   margin-right: 5%;
 }

 @media screen and (min-width: 1050px){
   body {
    margin-left: 10%;
    margin-right: 10%;
  }
 }
  
/*Header section */
.header {
  
}

h1 {
  font-size: 2rem;
  background-color: var(--green-500);
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
  text-transform: uppercase;
  color: var(--text-color);
}

/*Navigation section */
nav {
  font-size: .9rem;
  background-color: var(--green-400);
  border-color: var(--green-300);
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 5px solid var(--green-300);
  border-left: none;
  border-right: none;
}

.navigation li{
  display: inline;
  list-style: none;
  text-transform: uppercase;
  margin-left: 50px;
  margin-right: 50px;
}

.links li a {
  color: var(--text-color);
}

/*Header section end */

/*Main section */
.picture {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 69%;
  display: inline;
}

.informationboard {
  margin-top: 20px;
  float: right;
  border: 3px solid var(--green-400);
  width: 24%;
  margin-right: 15px;
  display: inline;
  margin-left: 0px;
}

.informationboard ul li {
  list-style: none;
  margin-bottom: 5px;
  color: var(--text-color);
}

.informationboard ul {
  padding-left: 10px;
}
/*Main section end */

/*Product section */
h2,h3 {
  background-color: var(--green-500);
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.product {
  width: fit-content;
  border: 3px solid var(--green-400);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: inline-block;
}
/*Product section end */
/*Footer section */
footer {
  font-size: 1rem;
  background-color: var(--green-400);
  border: 5px solid var(--green-300);
  border-left: none;
  border-right: none;
}

